$darkblue:#29335c;
$medblue: #3f88c5;
$teal: #326771;
$red: #e94f37;
$egg: #f6f7eb;
body {
    font-family: 'Quicksand', sans-serif;
    font-size:15px;
    background:$egg;
    color:$darkblue;
  }
  
  ::selection {
    background:$red;
    color:$egg;
  }
  a {
    color:$medblue;
    text-decoration:none;
    padding-bottom:2px;
    border-bottom:1px solid #eee;
  }
  
  #container {
    margin: 0 auto;
    margin-top:15%;
    text-align:center;
    padding:20px;
  }

  #us img{
    width:50%;
    position:fixed;
    opacity:.6;
    z-index:-1;
    margin-top:-100px;
    margin-left:-320px;

  }

  #container a {
    padding:6px;
    display:inline-block;
    background:$medblue;
    color:$egg;
    border-radius:3px;
    margin:4px;
  }
  
  #zip {
    font-size:30px;
  }

  #title {
    font-size:45px;
  }
  
  #counter {
    font-family: 'PT Mono', monospace;
    font-size:80px;
    padding: 20px;
  }
  
  .info {
    font-size:15px;
    position:relative;
    display:none;
  }